@model Assignment1.Models.Bookings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarRentalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarRentalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
