@model Assignment1.Models.Flights
@{
    ViewData["Title"] = "BookNow";
}

<h1>Book Now</h1>

<div>
    <p>@Model.Airline - @Model.DepartureCity to @Model. ArrivalCity</p>
    <p>Departure Time: @Model.DepartureTime, Price: @Model.Price</p>
</div>

<form asp-controller="Bookings" asp-action="Confirmation" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="Email" required>
    </div>
    <input type="hidden" name="FlightId" value="@Model.FlightId" />
    <input type="submit" value="Confirm Booking">
</form>